<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Maintenance</title>
    
    <link rel="stylesheet" href="/static/style/styles_GM.css" />
    <style>
      body{
                background:url(/static/images/hotel.jpg)  ;
        
            }
    </style>
    
</head>
<body>
  <div class="navbar">
   
    <div class="subnav">
      <button class="subnavbtn"> Hotel <i class="fa fa-caret-down"></i></button>
      <div class="subnav-content">
          <a href="{% url 'hotelbooking' %}">Hotel Booking</a>
          <a href="{% url 'roommaintenance' %}">Room Maintenance</a>
          <a href="{% url 'roomcancellation' %}">Room Cancellation</a> 
          <a href="{% url 'reception' %}">Reception </a>
          <a href="{% url 'bar' %}">Bar </a>
        </div>
    </div>
<div class="subnav">
  <button class="subnavbtn">Food <i class="fa fa-caret-down"></i></button>
  <div class="subnav-content">
    <a href="{% url 'bill' %}">Billing</a>
    <a href="{% url 'Food_Mastry' %}">Food Master</a>
    <a href="{% url 'dining' %}">Dining</a>
    <a href="{% url 'parcel' %}">Parcel</a>
    <a href="{% url 'online' %}">Online Orders</a>
  </div>
</div> 
<div class="subnav">
  <button class="subnavbtn">Accounts <i class="fa fa-caret-down"></i></button>
  <div class="subnav-content">
    <a href="{% url 'Expenses_Entry' %}">Expenses Entry</a>
    <a href="{% url 'Groceries_Entry' %}">Groceries Entry</a>
    <a href="{% url 'Gas_Maintenance' %}">Gas Maintenance</a>
    <a href="{% url 'Income_Entry' %}">Income Entry</a>
  <a href="{% url 'Advertisement' %}">Advertisement</a>
  </div>
</div>
<div class="subnav">                                             
  <button class="subnavbtn">
    RMS <i class="fa fa-caret-down"></i>
  </button>
  <div class="subnav-content">
    <a href="{% url 'workersapplication' %}">Workers Application </a>
    <a href="{% url 'veseelmaintenance' %}">Vessel</a>
    <a href="{% url 'workersattendance' %}">Workers Attendance</a>
    <a href="{% url 'workerssalary' %}">Workers Salary</a>
    </div>
</div>
<div class="subnav">                                     <!--  {% load static %} -->
  <button class="subnavbtn">
    Stocks <i class="fa fa-caret-down"></i>
  </button>
  <div class="subnav-content">
    <a href="{% url 'stockentry' %}">Stock Entry</a>
    </div>
</div>
<div class="subnav">
  <button class="subnavbtn">
    MISC. <i class="fa fa-caret-down"></i>
  </button>
  <div class="subnav-content">
    <a href="{% url 'Parking' %}">Parking</a>
    
    </div>
</div>
<a href="{% url 'Login_Page' %}">Logout</a>
</div>
    <center><h1 class="header">Gas Maintenance</h1></center>
    <form action="">
    <div class="table" class="d1">
        <div class="row">    
            <div class="col-1 table_header">
                S.NO
            </div>
            <div class="col-2 table_header">
                PARTICULARS
            </div>
            <div class="col-3 table_header">
              DETAILS
            </div>
        </div>
        <div class="row">
            <div class="col-1"> 
              1.
            </div>
            <div class="col-2">
              Gas Number
            </div>
            <div class="col-3">
              <input type="number" name="gasnumber" id="gasnumber" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              2.
            </div>
            <div class="col-2" >
              Company Name
            </div>
            <div class="col-3">
               <input type="text" name="cpyname" id="cpyname" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              3.
            </div>
            <div class="col-2">
              Company Contact
            </div>
            <div class="col-3">
              <input type="number" name="cpycontact" id="cpycontact" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              4.
            </div>
            <div class="col-2">
              Number of Gases Taken
            </div>
            <div class="col-3">
              <input type="number" name="gastaken" id="gastaken" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              5.
            </div>
            <div class="col-2">
              Gas Taken Date
            </div>
            <div class="col-3">
              <input type="date" name="takendate" id="takendate" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              6.
            </div>
            <div class="col-2">
             Number of Gases Empty
            </div>
            <div class="col-3">
             <input type="number" name="gasempty" id="gasempty" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              7.
            </div>
            <div class="col-2">
              Gas Empty Date
            </div>
            <div class="col-3">
              <input type="date" name="emptydate"  id="emptydate" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              8.
            </div>
            <div class="col-2">
              Gases Available
            </div>
            <div class="col-3">
              <input type="number" name="gasavailable" id="gasavailable" required>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
              9.
            </div>
            <div class="col-2">
              Gas Amount
            </div>
            <div class="col-3">
               <input type="number" name="gasamount" id="gasamount" required>
            </div>   
      </div>
        <center>
        <button class="button" id="submitbutton" type="submit">Submit</button>
        <button class="button" id="resetbutton" type="reset">Reset</button>
    </center>   
    </div>
    </form>

</body>
</html>